*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    list-style: none;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    --fonts: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-family: var(--fonts);
    --light-blue: rgb(43, 170, 255);
    --nav-width: 80%
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}


input,
button,
textarea,
select {
    font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


#root,
#__next {
    isolation: isolate;
}

/* div {
    border: 1px solid black
} */

.container {
    height: 100%;
    display: grid;
    grid-template-columns: 0.75fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
    background-color: var(--light-blue);
    color: white;
    grid-row: span 2;
}

.logo span, .buttons span{
    
        vertical-align: middle;
    
}
/*  span class needed or not?*/


.logo p {
    font-size: 1.5rem;
    font-weight: bold;
}


.sidebar-left img, .sidebar-left svg {
    display: inline;
    width: 1.5rem;
    margin:0 1rem 0 1rem;
    fill:white
}
.logo img, .logo svg{
    display: inline;
    width: 2em;
    font-size: 1.5rem;
    
}
/* do a :first-child o :last-child to control the margin */
.buttons p {
    margin-top: 1rem;
    font-weight:bold;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: 1 / 2 / 2 / 3;
    box-shadow: 5px 5px 15px -8px black;
    height:10rem

}

.navigation-left{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;
    padding-left:1rem;
}


.navigation-left img, .navigation-left svg {
    display: inline;
    width: 1.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.navigation-left>div:first-child {display: flex;
    align-items: center;
    width: 100%;
}

.navigation-left>div:last-child{
    display:flex;
}

.navigation-left-bottom  p:first-child{
    font-size: 0.7rem;

}
.navigation-left-bottom p:last-child{
    font-size: 1.25rem;
}

input {
    border-radius: 15px;
    width:100%;
    margin-right:1rem;
    background-color: rgba(228, 231, 230, 0.555);
    border-style: none;
}

.navigation-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: bold;    
}


.navigation-right img, .navigation-right svg {
    display: inline;
    width: 1.5rem;
}

.navigation-right-top,
.navigation-right-bottom {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

button{
    border-style: none;
    background-color: var(--light-blue);
    color:white;
    width:7rem;
    padding:5px 10px 5px 10px;
    border-radius: 30px;
    margin: 0 0.5rem;
}

.avatar {
    margin: 0 1rem 0 1rem;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: yellow;
}

.dashboard {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-area: 2 / 2 /3 /3;
    background-color: rgba(228, 231, 230, 0.555);
}
.dashboard > h3{
    margin: 1rem 0 0 1rem;
}
.sidebar-right {
    display: grid;
    grid-template-rows: 0.1fr 2fr 2fr;
    margin:2rem;
}


.cards {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    margin:1rem;
}
.card{
    background-color: white;
    display:flex;
    flex-direction: column;
    height:250px;
    padding:25px;
    justify-content: space-between;
    border-left: 0.75rem inset rgb(255, 75, 4);
    border-radius: 10px;
    box-shadow: 5px 5px 15px -8px black;
}

.card  h4 {
    margin-top:1rem;
}

.card  p{
    color:gray;
    font-size: 0.75rem;
}

.icon-container{
    align-self: flex-end;
    
}
.icon-container img, .icon-container svg {
    
    display: inline;
    width: 1.5rem;
    margin:0 1rem 0 1rem;
}

.navigation-top {
    display: flex;
}

.navigation-bottom {
    display: flex;
}

.news  h5{
    margin-top:1.5rem;
}
.news{
    display:grid;
    
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    margin:0.5rem 1.5rem 2rem 0;
    padding:1rem;
    border-radius:10px;
    box-shadow: 5px 5px 15px -8px black;
}
.news p {
    display:-webkit-box;
   font-size:0.75rem;
   color:gray;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
   max-width: 36ch;
   overflow: hidden;
   /* white-space: nowrap; */
   text-overflow: ellipsis;
   
}

.news div{
    border-bottom:1px solid rgba(0, 0, 0, 0.185);
}

.news div:last-child{
    border-style: none;
}

.trend{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -8px black;
    margin:0.5rem 1.5rem 2rem 0;
    padding:0.25rem;
}
.trending{
    background-color: white;
}
.trend > div{
    margin-top: 1rem;
    display:flex;
    align-items: center;
    font-size:0.75rem;
    margin-bottom: 1rem;
    
}

.trend  p {
    color:gray;
}
